<!DOCTYPE html>
<html lang="en">
<head>

    {% extends "dealioApp/home.html" %}

</head>

<body style = "background-color: #2aabd2">
  {% block content %}
  <div class="container-fluid" >

    <h1>{{restaurant.name}} Promotions</h1>
      <h2><a href={{restaurant.review_link}} style="color:black" target="_blank">-Yelp Review</a></h2>
        <p> -{{ restaurant.getCategory }}</p>
    <hr>
    <ul style="text-align: left">
        {% for promo in restaurant.getPromotions %}
            <li><h2>{{promo.title}}</h2></li>
            <h3>Rating: {{ promo.rating }}/5</h3>
            <ul>
                <h3><li>{{promo.description}}</li></h3>
            </ul>
        {% endfor %}
    </ul>
  {% endblock %}
  </div>

</body>


