<!DOCTYPE html>
<html lang="en">
<head>

  {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src ="{% static 'js/bootstrap.js'%}"></script>

    <style>
    img {
    width: auto;
    height: 100%;
    }
    </style>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

            <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/simple-sidebar.css'%}" rel="stylesheet">

    <nav class="navbar navbar-default" style="overflow-y: scroll;">
  <div class="container-fluid" style="background-color:#ffffff;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span>Menu</span>
      </button>
      <a href="#menu-toggle" class="navbar-brand" id="menu-toggle">Filter Options</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    {% block header %}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Dealio Home</a></li>


        <li><a href="/about"> About</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
    {% endblock %}
  </div><!-- /.container-fluid -->
</nav>



    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/new.css'%}" />

</head>

<body style = "background-color: #2aabd2">
<div id="wrapper">
    <div id="sidebar-wrapper" style="position: absolute; scrollbar-base-color: transparent; scrollbar-arrow-color: transparent">
        <ul class="sidebar-nav">
            <form method="post" action="{% url 'promo_filtered' restaurant.id %}">
              {#Security Feature#}
                {% csrf_token %}
                <li style="color: white"><h2> Promotion Filter</h2></li>
                <li><a value="Reset Filters" href="{% url 'reset_promo_filtered' restaurant.id %}">Reset Filters </a></li>
                <li style="color: white"><input type="radio" id="mostPopular" value="1" name="filter"> Most Popular</li>
                <li style="color: white"><input type="radio" id="leastPopular" value="0" name="filter"> Least Popular</li>
                <br>
                <li><input type="submit" value="Apply Filters"></li>
                <li><input type="reset" value="Reset Selection"></li>
            </form>
        </ul>
    </div>

    <div id="page-content-wrapper">
        {% block content %}
            <div class = "container-fluid">
                <div class="row" style="align-content: center">
                    <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10" align = "center" style="align-content: center" id="popular">
                        <span><h1>{{restaurant.name}} Promotions </h1><h3>Rating: {{ restaurant.rating }}</h3></span>
                    <h2><a class = "btn btn-primary" style="width:275px;" href="{{restaurant.yelp}}">Visit {{ restaurant.name }} on Yelp</a></h2>
                        <a target="_blank" title="Deliciousness" align="right" href="{{ restaurant.website }}"><img style="max-height: 450px" alt="{{ restaurant.name  }}'s website" src=" {% static "pictures/restaurant_pics/" %}{{ restaurant.picture }}" border=0></a>

                    <h2><a class = "btn btn-primary"href="{{restaurant.website}}">{{ restaurant.name }}'s Official Website</a></h2>
                    <h2>{{ restaurant.address }}, {{ restaurant.phone_number }}</h2>
                    <hr>
                    <ul style="text-align: left">
                        {% for promo in restaurant.getPromotions %}
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <li><h2><u>{{promo.title}}</u></h2>
                                        <ul>
                                            <h3><li>{{promo.description}}</li></h3>
                                        </ul>
                                    </div>
                                    <div class = "col-lg-3">
                                        <h4>Rating: {{ promo.rating }}/5</h4>
                                        <a href = {% url 'promotion-reviewList' promo.id %}>{{ promo.review.all.count }} reviews</a>

                                    </div>
                                    <div class="col-lg-4" align = "center">
                                        <a class = "btn btn-danger" href = {% url 'promotion-delete' restaurant.id promo.id %}>Delete</a>
                                        <br> <br>
                                        <a class="btn btn-default" role="button" href = {% url 'promotion-review' restaurant.id promo.id %}>Add Review</a>
                                        <br> <br>
                                        <a class = "btn btn-success" href = {% url 'share_promo' promo.id %}>Share</a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                    </ul>
                    <br>
                    <a href="{% url 'restaurant-update' restaurant.id %}" class="btn btn-primary" role="button">Edit Rest. Info</a>
                    <a href="{% url 'addPromo' restaurant.id %}" class="btn btn-primary" role="button">+ Promo</a><br><br><br>
                    </div>
        </div>
      </div>
      {% endblock %}
    </div>
</div>

<script src="{% static 'js/jquery.js'%}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.min.js'%}"></script>

<!-- Menu Toggle Script -->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>

</body>


</html>
