<!DOCTYPE html>
<html lang="en">
<head>

    {% extends "dealioApp/home.html" %}

</head>

<body style = "background-color: #2aabd2">
  {% block content %}
  <div class="container-fluid">
    <div class="row">
        <div class = "col-xs-4 col-sm-4 col-md-2 col-lg-2">
          <br><br><br>
          <div class="well bs-sidebar" id="sidebar" style="background-color:#fff; height: 500px;"  >
              <form method="post" action="{% url 'promo_filtered' restaurant.id %}">
{#                  Security Feature#}
                  {% csrf_token %}
                  <ul class="nav nav-pills nav-stacked">
                      <li><h2> Promo. Filter</h2></li>
                      <li><input type="radio" id="mostPopular" value="1" name="MostPopular"> Most Popular</li>
                      <li><input type="radio" id="leastPopular" value="0" name="LeastPopular"> Least Popular</li>
                      <li><input type="submit" value="Apply Filters"></li>
                      <li><input type="reset" value="Reset Filters" ></li>
                  </ul>
              </form>

          </div> <!--well bs-sidebar affix-->
        </div>
        <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10" align = "center" id="popular">
            <h1>{{restaurant.name}} Promotions</h1>
        <h2><a class = "btn btn-primary"href="{{restaurant.review_link}}">Yelp Review</a></h2>
        <p> -{{ restaurant.getCategory }}</p>
        <hr>
        <ul style="text-align: left">
            {% for promo in restaurant.getPromotions %}
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <li><h2><u>{{promo.title}}</u></h2>
                            <ul>
                                <h3><li>{{promo.description}}</li></h3>
                            </ul>
                        </div>
                        <div class = "col-lg-3">
                            <h4>Rating: {{ promo.rating }}/5</h4>
                        </div>
                        <div class="col-lg-4" align = "center">
                            <a class = "btn btn-danger" href = {% url 'promotion-delete' promo.id %}>Delete</a>
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </ul>
        <br>
        <a href="{% url 'restaurant-update' restaurant.id %}" class="btn btn-primary" role="button">Edit Rest. Info</a>
        <a href="{% url 'addPromo' restaurant.id %}" class="btn btn-primary" role="button">+ Promo</a><br><br><br>
        </div>
    </div>

  </div>
  {% endblock %}


</body>


</html>
