<!DOCTYPE html>
<html lang="en">
<head>

    {% extends "dealioApp/home.html" %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/new.css'%}" />


</head>

<body style = "background-color: #2aabd2">
  {% block content %}
  <div class = "container-fluid">
    <div class="row">
      <div class = "col-xs-4 col-sm-4 col-md-2 col-lg-2">
          <br><br><br>
          <div class="well bs-sidebar" id="sidebar" style="background-color:#fff; height: 500px;"  >
              <ul class="nav nav-pills nav-stacked">
                  <form method="post" action="{% url 'rest_filtered' %}">
{#                      Security Feature#}
                      {% csrf_token %}
                      <li><h2>Filter</h2></li>
                      <li><a value="Reset Filters" href= /reset_filtered>Reset Filters </a></li>
                      <li><input type="checkbox" id="American" value="American" name="resFilter[]">American</li>
                      <li><input type="checkbox" id="Mexican" value="Mexican" name="resFilter[]">Mexican</li>
                      <li><input type="checkbox" id="Chinese" value="Chinese" name="resFilter[]">Chinese</li>
                      <li><input type="checkbox" id="Indian" value="Indian" name="resFilter[]">Indian</li>
                      <li><input type="checkbox" id="Italian" value="Italian" name="resFilter[]">Italian</li>
                      <li><input type="submit" value="Apply Filters"></li>
                      <br><br><br><br>
                      <div id="slider" style="">
                          <input class="bar" type="range" id="rangeinput" value="5" onchange="rangevalue.value=value"/>
                          <span class="highlight"></span>
                          <output id="rangevalue">5 Miles</output>
                      </div>
                  </form>
              </ul>
          </div> <!--well bs-sidebar affix-->
        </div>

        <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10" align="center">
            <h1 style = "text-align: center">Restaurants</h1>
            <hr>
            <ul>
                {% for rest in restaurants %}
                    {% if rest.is_filtered is True %}

                        <li><h1 style="text-align: left"><a class= "btn btn-primary btn-lg" href= "{% url 'promotions'  rest.id %}" >{{rest.name}}</a></h1> <!--create a hyper link to a certain restaurant's promotion list using its id in the database-->
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
      </div>
  </div>
    {% endblock %}





</body>
